[submodule "nvim/.config/nvim/pack/usr/opt/nvim-gh"]
	path = nvim/.config/nvim/pack/usr/opt/nvim-gh
	url = git@github.com:Dkendal/nvim-gh
[submodule "nvim/.config/nvim/pack/usr/opt/nvim-projet"]
	path = nvim/.config/nvim/pack/usr/opt/nvim-projet
	url = git@github.com:Dkendal/nvim-projet
[submodule "nvim/.config/nvim/pack/usr/opt/nvim-minor-mode"]
	path = nvim/.config/nvim/pack/usr/opt/nvim-minor-mode
	url = git@github.com:Dkendal/nvim-minor-mode
[submodule "nvim/.config/nvim/pack/usr/opt/nvim-treeclimber"]
	path = nvim/.config/nvim/pack/usr/opt/nvim-treeclimber
	url = git@github.com:Dkendal/nvim-treeclimber
