[Unit]
Description=Dynamic wallpaper
After=network.target
Documentation=https://github.com/adi1090x/dynamic-wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/dwall -o mojave

[Install]
WantedBy=graphical.target
